﻿@model PagedList.IPagedList<B2C_ACCOOUNTS_MANAGER.Models.ApplicationUser>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/admin1.cshtml";
}

<div class="page-header">
    <h1>
        Users
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            @Html.ActionLink("Create New", "Register")
        </small>
    </h1>
</div>

<span style="color: red">@TempData["shortMessage1"]</span>

@{
    var message = TempData["successmessage"] ?? string.Empty;
    var message1 = TempData["activatemessage"] ?? string.Empty;
    var message2 = TempData["deactivatemessage"] ?? string.Empty;
    var message3 = TempData["deletemessage"] ?? string.Empty;
}
<table>
    <tr>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Search</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Index", "Account", FormMethod.Get))
                {
                    @Html.DropDownList("Status", new List<SelectListItem>

                    {
                        new SelectListItem {Text = "User Name", Value = "UserName"},
                        new SelectListItem {Text = "ID Number", Value = "ID_No"},
                    }, new { @class = "form-control", style = "width:333px" })
                    <br />
                    @Html.TextBox("Search", null, new { @class = "form-control", style = "width:333px" })
                    <br />
                    <input type="submit" class="btn btn-success" value="Search">
                }
            </div>
        </div>
    </tr>
    @*@using (Html.BeginForm("Search", "Account", FormMethod.Get))
        {
            @Html.DropDownList("Status", new List<SelectListItem>

                         {
                            new SelectListItem{ Text="UserName", Value = "UserName" },
                            new SelectListItem{ Text="Firstname", Value = "Firstname    " }
                         })
            @Html.TextBox("Search")<input type="submit" value="Search">*@
    @*}*@
</table>
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <tr>
        <th>
            User Name
        </th>
        <th>
            Names
        </th>      
        <th>
            ID Number
        </th>
        <th>
            Organisation Code
        </th>
        <th>
           Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Names)
            </td>           
            <td>
                @Html.DisplayFor(modelItem => item.ID_No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.org_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if (@item.Status.ToString() != "Active")
                {
                    @:| @Html.ActionLink("Activate", "UserActivate", new {id = item.Id}) |
                }
                @if (@item.Status.ToString() != "Deactive")
                {
                    @:| @Html.ActionLink("Deactivate", "UserDeactivate", new { id = item.Id }) |
                }
                @*@Html.ActionLink("Edit", "Edit", new {id = item.Id}) |*@
                @*@Html.ActionLink("Activate", "UserActivate", new {id = item.Id}) |*@
                @*@Html.ActionLink("PrintTransactions", "PrintTransactions", new {id = item.Id})*@
            </td>
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
<br />
<script type="text/javascript">
var message = '@message';
if(message)
    alert(message);

var message1 = '@message1';
if (message1)
    alert(message1);

var message2 = '@message2';
if (message2)
    alert(message2);

var message3 = '@message3';
if (message3)
    alert(message3);

</script>