﻿@using B2C_ACCOOUNTS_MANAGER.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/acemaster.cshtml";
}

@{
    var message = TempData["shortM"] ?? string.Empty;
    var message1 = TempData["reset"] ?? string.Empty;
}
<div class="center">
    <h1>
        <i class="ace-icon fa fa-bar-chart-o red"></i>
        <span class="blue">B2C</span>
        <span class="black" id="id-text2">Manager</span>
    </h1>
    <h4 class="blue" id="id-company-text">&copy; 2018</h4>
</div>
<div class="position-relative">
    <div id="login-box" class="login-box">
        <div class="widget-body">
            <div class="widget-main">
                <h4 class="header blue lighter bigger">
                    <i class="ace-icon fa fa-info-circle green"></i>
                    Please Enter Your Information

                </h4>

                <div class="space-6"></div>
                <div class="row">
                    <div class="col-md-8">
                        <section id="loginForm">
                            @*<p>@ViewBag.ErrorMessage</p>*@
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()

                                @Html.ValidationSummary(true)
                                <div class="form-group ">
                                    @Html.LabelFor(m => m.Username, new { @class = "col-md-6 control-label" })
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            @*<span class="input-group-addon"><i class="ace-icon fa fa-user"></i></span>*@
                                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", style = "width:auto", placeholder = "Enter Your Username" })
                                            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, new { @class = "col-md-6 control-label" })
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            @*<span class="input-group-addon"><i class="ace-icon fa fa-lock"></i></span>*@
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", style = "width:auto", placeholder = "Enter Your Password" })

                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                    </div>
                                    <div class="col-md-6">
                                        @*@Html.ActionLink("Reset Password", "ResetPassword", "Account")*@
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">

                                    </div>
                                    <div class="col-md-6">
                                        <input type="submit" value="Log in" style="width: 141px" class="btn btn-primary btn-lg btn-border" />
                                    </div>

                                </div>


                                @*<p>
                                        @Html.ActionLink("Register", "Register") if you don't have a local account.
                                    </p>*@
                            }
                        </section>
                    </div>
                    @*<div class="col-md-4">
                            <section id="socialLoginForm">
                                @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
                            </section>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
        var message = '@message';
        if(message)
            alert(message);

        var message1 = '@message1';
        if (message1)
            alert(message1);
</script>