﻿@model B2C_ACCOOUNTS_MANAGER.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "ResetPassword";
}

@{
    var message = TempData["fail"] ?? string.Empty;
}



<script src="~/Scripts/jquery-1.10.2.js">



</script>
<script src="~/Scripts/jquery.validate.js">



</script>
<link href="~/Content/chosen.css" rel="stylesheet" />
<script src="~/Scripts/chosen.jquery.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js">


</script>
<br />
<span style="color: red">@TempData["shortMessage1"]</span>
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Create Application Details</h3>
    </div>
    @using (Html.BeginForm("ResetPassword", "Registration", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <br />
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true)
        <div class="form-group ">
            @*@Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })*@
            <div class="form-group">
                @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("txtTitle", (string)ViewBag.usr, new { @class = "text-danger", @readonly = "readonly" })
                    @*@Html.EditorFor(model => model.UserName)*@
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
            <div class="form-group">
                @Html.LabelFor(model => model.OldPassword, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.OldPassword)
                    @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
            <div class="form-group">
                @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ConfirmPassword)
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <input type="submit" value="Reset" class="btn btn-primary" />
            </div>
        </div>


        @*<p>
                @Html.ActionLink("Register", "Register") if you don't have a local account.
            </p>*@
    }
</div>

<script type="text/javascript">
var message = '@message';
if(message)
    alert(message);
</script>  