﻿@model B2C_ACCOOUNTS_MANAGER.Models.PaymentViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/admin1.cshtml";
}



@{
    var message = TempData["shortMsg"] ?? string.Empty;    
}

<style type="text/css">
    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
        display: inline;
    }
</style>

<span style="color: red">@TempData["shortMessage"]</span>
<br />
<div class="page-header">
    <h1>
        Payment
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Create
        </small>
    </h1>
</div>
<br />
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Create Application Details</h3>
    </div>
    @using (Html.BeginForm("Create", "Payments", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <br />
        <div class="form-horizontal">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-group">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-9">
                    <img id="user_img" height="313px" width="500px" style="border:solid" />
                </div>
            </div>
            @*<div class="form-group">
                    @Html.LabelFor(model => model.orgcode, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.DropDownListFor(m => m.orgcode, new SelectList(ViewBag.organisations, "Value", "Text"), null, new { @class = "form-control", @id = "ddlcountry", style = "width:333px" })
                        @Html.ValidationMessageFor(model => model.orgcode, "", new { @class = "text-danger" })
                    </div>
                </div>*@
            <div class="form-group">
                @Html.LabelFor(model => model.Chequeimg, new { @class = "col-lg-3 control-label" })
                <div class="col-lg-9">
                    <input type="file" class="form-control" name="Chequeimg" id="Chequeimg" onchange=" show(this); " multiple style="width:333px" />
                    @Html.ValidationMessageFor(model => model.Chequeimg, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="form-group">
                    @Html.LabelFor(model => model.ChequeNo, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.TextBoxFor(model => model.ChequeNo, new { @class = "form-control", style = "width:333px" })
                        @Html.ValidationMessageFor(model => model.ChequeNo, "", new { @class = "text-danger" })
                    </div>
                </div>*@



            @*<div class="form-group">
                @Html.LabelFor(model => model.Amount, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Amount, new { @class = "form-control", style = "width:333px" })
                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                </div>
            </div>*@

               @Html.LabelFor(model => model.Amount, new { @class = "col-lg-3 control-label" })
                <div class="col-lg-9">
                    <div class="required">
                        @Html.TextBoxFor(model => model.Amount, new { @class = "text-danger", style = "width:333px"})
                        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                    </div>
                        
                </div>
            <hr style="height: 20px;" />
            <div class="form-group">
                <div class="col-lg-offset-4 col-lg-8">
                    <input type="submit" value="Create" class="btn btn-primary" id="submitform" />
                </div>
            </div>
        </div>








         
    }
</div>

<script type="text/javascript">

   function show(input) {
      if (input.files && input.files[0]) {
      var filerdr = new FileReader();
      filerdr.onload = function (e) {
         $('#user_img').attr('src', e.target.result);
      }
      filerdr.readAsDataURL(input.files[0]);
   }
}
</script> 
 
<script type="text/javascript">
var message = '@message';
if(message)
    alert(message);
</script>  