﻿@model IEnumerable<B2C_ACCOOUNTS_MANAGER.Models.PaymentViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/admin1.cshtml";
}
<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
@{
    var message = TempData["shortM"] ?? string.Empty;
}


<span style="color: red">@TempData["shortMessage"]</span>
<span style="color: red">@TempData["shortMessage1"]</span>

<div class="page-header">
    <h1>
        Payments
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            @Html.ActionLink("Upload", "Create")
        </small>
    </h1>
</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Float : @ViewBag.bal</h3>
    </div>
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Trans Date
                </th>
                @*<th>
                   Cheque Image
                </th>*@
                @*<th>
                    Cheque Number
                </th>*@
                <th>
                    Amount
                </th>
                <th>
                    Status
                </th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Trans Date
                </th>
                @*<th>
               Cheque Image
            </th>*@
                @*<th>
                    Cheque Number
                </th>*@
                <th>
                    Amount
                </th>
                <th>
                    Status
                </th>
                <th></th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransDate)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Chequeimg)
                    </td>*@
                    @*<td>
                        @Html.DisplayFor(modelItem => item.ChequeNo)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status_Desc)
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID })*@ 
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
                    </td>
                </tr>
            }
        </tbody>
</table>
</div>
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.12.4.js"> </script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"> </script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"> </script>
<script>
    $.noConflict();
    jQuery(document).ready(function ($) {
        $('#example').DataTable();
    });
    // Code that uses other library's $ can follow here.
</script>
<script type="text/javascript">
var message = '@message';
if(message)
    alert(message);
</script>  
