﻿@model B2C_ACCOOUNTS_MANAGER.Models.PaymentTran

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/admin1.cshtml";
}


<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Approve Transaction Details</h3>
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Organisation Name
        </dt>

        <dd>
            @ViewBag.Name
        </dd>
        <br />
        <dt>
            Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransDate)
        </dd>
        <br />
        <dt>
            Cheque Image
        </dt>

        <dd>
            @{
                var base64 = Convert.ToBase64String(Model.Chequeimg);
                var imgSrc = String.Format("data:image;base64,{0}", base64);
            }
            <img src='@imgSrc' style="max-width: 500px; max-height: 500px; " />
        </dd>
        <br />
        

        <dd>
            @Html.DisplayFor(model => model.ChequeNo)
        </dd>
        <br />
        <dt>
            Amount
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <br />
        <dt>

        </dt>

        <dd>
            <div class="row">
                <div class="col-md-8">
                    @using (Html.BeginForm("Approve", "PaymentTransaction"))
                    {
                        @Html.HiddenFor(model => model.ID)
                        <input type="submit" value="Approve" class="btn btn-primary" style="width: 113px">
                    }
                    <br/>                  
                    @using (Html.BeginForm("Unapprove", "PaymentTransaction"))
                    {
                        @Html.HiddenFor(model => model.ID)
                        <input type="submit" value="Dis Approve" class="btn btn-primary" style="widows:100px">
                    }
                </div>
                <div class="col-md-4">

                 </div>
                </div>


            @*<input type="submit" value'@'  class="btn btn-default" onclick=" document.location.href = '../Approve?'; return false; "/>
                <input type="submit" value="Approve" class="btn btn-default" onclick=" document.location.href = '../PaymentTransaction/Unapprove'; return false; " />*@
        </dd>

    </dl>
</div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
