﻿@model PagedList.IPagedList<B2C_ACCOOUNTS_MANAGER.Models.PaymentViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/admin1.cshtml";
}
@{
    var message = TempData["shortMessage1"] ?? string.Empty;
}
<br/>
<table>
    <tr>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Search</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Index", "PaymentTransaction", FormMethod.Get))
                {
                    @Html.DropDownList("Status", new List<SelectListItem>

                    {
                        new SelectListItem {Text = "Organisation Name", Value = "org_name"},
                    }, new { @class = "form-control", style = "width:333px" })
                    <br />
                    @Html.TextBox("Search", null, new { @class = "form-control", style = "width:333px" })
                    <br />
                    <input type="submit" class="btn btn-success" value="Search">
                }
            </div>
        </div>
    </tr>
    @*@using (Html.BeginForm("Search", "Account", FormMethod.Get))
        {
            @Html.DropDownList("Status", new List<SelectListItem>

                         {
                            new SelectListItem{ Text="UserName", Value = "UserName" },
                            new SelectListItem{ Text="Firstname", Value = "Firstname    " }
                         })
            @Html.TextBox("Search")<input type="submit" value="Search">*@
    @*}*@
</table>
<span style="color: red">@TempData["shortMessage"]</span>
<span style="color: red">@TempData["shortMessage1"]</span>

<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <tr>
        <th>
            Org Code
        </th>
        <th>
            Trans Date
        </th>
        @*<th>
               Cheque Image
            </th>*@
        @*<th>
               Cheque Number
            </th>*@
        <th>
            Amount
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.orgcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransDate)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Chequeimg)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.ChequeNo)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status_Desc)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.ID }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @*@Html.ActionLink("Delete", "Delete", new { id=item.ID })*@
            </td>
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
<br />

<script type="text/javascript">
        var message = '@message';
        if(message)
            alert(message);
</script>