﻿@model B2C_ACCOOUNTS_MANAGER.Models.Search
@{
    ViewBag.Title = "SafReports";
    Layout = "~/Views/Shared/admin1.cshtml";

}


@{
    var message = TempData["errormessage"] ?? string.Empty;
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.js"></script>

<br />
<div class="page-header">
    <h1>
        Reports
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Create
        </small>
    </h1>
</div>



<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Generate Transaction Report</h3>
    </div>
    <hr />
    @using (Html.BeginForm("SaccoTransactions", "Reports", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="form-group">
                <div class="col-md-1">
                </div>
                <div class="col-md-1">
                    <label>From:</label>
                </div>
                <div class="col-md-4">
                    <input name="DueDate" type="date" id="datepicker" class="form-control" required/>
                </div>

            </div>
        </div>
        <br />
        <div class="row">
            <div class="form-group">
                <div class="col-md-1">
                </div>
                <div class="col-md-1">
                    <label>To:</label>
                </div>
                <div class="col-md-4">
                    <input name="DueDate2" type="date" id="datepicker" class="form-control" required/>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <input type="submit" value="Search" class="btn btn-primary" id="submitform" />
                </div>
            </div>
        </div>
        <br />
    }
</div>
<script type="text/javascript">
    $(function () {
        $("#datepicker").datepicker();
    });
</script>
<script type="text/javascript">
var message = '@message';
if(message)
    alert(message);
</script>