﻿<li>@Html.ActionLink("User Management", "Index", "User")</li>
<li>@Html.ActionLink("Submit Payments", "Index", "Payments")</li>
<li>@Html.ActionLink("Password Reset", "ResetPassword", "User")</li>
<li class="">
    <a href="#" class="dropdown-toggle">
        
        <span class="menu-text">
            Reports
        </span>

        <!-- <b class="arrow fa fa-angle-down"></b> -->
    </a>

    <b class="arrow"></b>

    <ul class="submenu" style="color:white">

        <li>@Html.ActionLink("Statement", "SafReports", "Reports")</li>
        <li>@Html.ActionLink("Account Credits", "PaymentReports", "Reports")</li>
        <li>@Html.ActionLink("Account Debits", "SaccoReports", "Reports")</li>

    </ul>
</li>