﻿@model B2C_ACCOOUNTS_MANAGER.Models.Organization

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/admin1.cshtml";
}

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Create New  Organisation</h3>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                
            <div class="form-group">
                @Html.LabelFor(model => model.org_name, "Organisation Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.org_name, new { @class = "form-control", required = "required", style = "width:333px" })
                    @Html.ValidationMessageFor(model => model.org_name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

