﻿@model PagedList.IPagedList<B2C_ACCOOUNTS_MANAGER.Models.Organization>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/admin1.cshtml";
}

@{
    var message = TempData["shortMsg"] ?? string.Empty;
    var message1 = TempData["shortMessage"] ?? string.Empty;
    var message2 = TempData["DeleteMessage"] ?? string.Empty;
}

<div class="page-header">
    <h1>
        Users
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            @Html.ActionLink("Create New", "Create")
        </small>
    </h1>
</div>
<table>
    <tr>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Search</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Index", "Organizations", FormMethod.Get))
                {
                    @Html.DropDownList("Status", new List<SelectListItem>

                    {
                        new SelectListItem {Text = "Organisation Name", Value = "org_name"},
                    }, new { @class = "form-control", style = "width:333px" })
                    <br />
                    @Html.TextBox("Search", null, new { @class = "form-control", style = "width:333px" })
                    <br />
                    <input type="submit" class="btn btn-success" value="Search">
                }
            </div>
        </div>
    </tr>
    @*@using (Html.BeginForm("Search", "Account", FormMethod.Get))
        {
            @Html.DropDownList("Status", new List<SelectListItem>

                         {
                            new SelectListItem{ Text="UserName", Value = "UserName" },
                            new SelectListItem{ Text="Firstname", Value = "Firstname    " }
                         })
            @Html.TextBox("Search")<input type="submit" value="Search">*@
    @*}*@
</table>
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <tr>
        <th>
            ID
        </th>
        <th>
            NAME
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.org_name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.org_code }) 
            </td>
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
<br />

<script type="text/javascript">
var message = '@message';
if(message)
    alert(message);

var message1 = '@message1';
if (message1)
    alert(message1);

var message2 = '@message2';
if (message2)
    alert(message2);

</script>