﻿@model IEnumerable<B2C_ACCOOUNTS_MANAGER.Models.UserViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/admin1.cshtml";
}
<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
@{
    var message = TempData["shortM"] ?? string.Empty;
    var message1 = TempData["reset"] ?? string.Empty;
    var message2 = TempData["shortMsg"] ?? string.Empty;
    var message3 = TempData["shortMessage"] ?? string.Empty;
    var message4 = TempData["deletemessage"] ?? string.Empty;
}

<div class="page-header">
    <h1>
        Users
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            @Html.ActionLink("Create New", "Register")
        </small>
    </h1>
</div>

<span style="color: red">@TempData["shortMessage1"]</span>


<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                Names
            </th>
            
            <th>
                ID Number
            </th>
            <th>
                Phone Number
            </th>
            
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                Names
            </th>
           
            <th>
                ID Number
            </th>
            <th>
                Phone Number
            </th>
            
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Names)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.IDnumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Status_Desc)
                </td>
                <td>
                    @if (@item.Status.ToString() != "2")
                {
                        @:| @Html.ActionLink("Activate", "UserActivate", new { id = item.Id }) |
                }
                    @if (@item.Status.ToString() != "4" && @item.Status.ToString() != "1")
                {
                        @:| @Html.ActionLink("Deactivate", "UserDeactivate", new { id = item.Id }) 
                }
                    @*@Html.ActionLink("Edit", "Edit", new {id = item.Id}) |*@
                    @*@Html.ActionLink("Activate", "UserActivate", new {id = item.Id}) |*@
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.12.4.js"> </script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"> </script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"> </script>
<script>
    $.noConflict();
    jQuery(document).ready(function ($) {
        $('#example').DataTable();
    });
    // Code that uses other library's $ can follow here.
</script>
<script type="text/javascript">
var message = '@message';
if(message)
    alert(message);

var message1 = '@message1';
if (message1)
    alert(message1);

var message2 = '@message2';
if (message2)
    alert(message2);

var message3 = '@message3';
if (message3)
    alert(message3);

var message4 = '@message4';
if (message4)
    alert(message4);

</script>