﻿    <li>@Html.ActionLink("User Management", "Index", "Account")</li>
    <li>@Html.ActionLink("Organisations", "Index", "Organizations")</li>
    <li>@Html.ActionLink("Password Reset", "ResetPassword", "Account")</li>
    <li>@Html.ActionLink("Approve Float", "Index", "PaymentTransaction")</li>

         <li class="">
    <a href="#" class="dropdown-toggle">

        <span class="menu-text">
            Reports
        </span>

        <!-- <b class="arrow fa fa-angle-down"></b> -->
    </a>

    <b class="arrow"></b>

    <ul class="submenu" style="color:white">

        <li>@Html.ActionLink("Statement", "SafaricomReports", "AdminReports")</li>
        <li>@Html.ActionLink("Account Credits", "PayReports", "AdminReports")</li>
        <li>@Html.ActionLink("Account Debits", "SaccoTranReports", "AdminReports")</li>

    </ul>
</li>      

